<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="main" connectionString="Server=localhost;Database=ApolloDb_Test;uid=ApolloDb;pwd=jksdDD34jkDE4"/>
    </connectionStrings>

    <system.net>
        <mailSettings>
            <smtp deliveryMethod="SpecifiedPickupDirectory">
                <specifiedPickupDirectory pickupDirectoryLocation="C:/Projects/APOLLO-Kandidatenanmeldung/src/Tests/_testEmails" />
            </smtp>
        </mailSettings>
    </system.net>
</configuration>