@using ApolloDb

@{
    var userSession = Sl.Resolve<SessionUser>();
}

@if(userSession.IsLoggedInKandidat) {
    <text>
        <a href="/Account/Dashboard" style="z-index: 1000">Привет <strong>@userSession.GetKandidat().GetVollerNameKY()</strong></a>!
        [ @Html.ActionLink("Abmelden | Выйти", "LogOff", "Account") ]
    </text>
}
else if(userSession.IsLoggedInAdmin)
{
    <text>
        <a href="/Admin/" style="z-index: 1000">Привет Admin</a>!
        [ @Html.ActionLink("Abmelden | Выйти", "LogOff", "Account") ]
    </text>
}
else
{
    @:[ @Html.ActionLink("Anmelden | Войти", "Login", "Account") ]
}


