@using ApolloDb

@{
    var userSession = new SessionUser();
}

@if(userSession.IsLoggedIn) {
    <text>
        <a href="/Account/Dashboard" style="z-index: 1000">Привет <strong>@userSession.Kandidat.GetVollerNameKY()</strong></a>!
        [ @Html.ActionLink("Abmelden | Выйти", "LogOff", "Account") ]
    </text>
}
else {
    @:[ @Html.ActionLink("Anmelden | Войти", "Login", "Account") ]
}
