@{
    ViewBag.Title = "Verwaltung_Kandidaten";
}


<div style="margin-right: 20px">
<h2>Verwaltung</h2>
</div>

<hr style="margin-top: 0px; margin-bottom: 0px;border-bottom-color: #c9c2a6"/>
<div class="inhalt_ebene2">
				
<div>
	<div style="float: left; margin-right: 10px; padding-top: 5px; width: 180px;">
		<h4>Anzeige einschließlich:</h4>
	</div>
					
	<div class="control-group" style="margin-bottom: 5px">
		<div class="controls">
			<label class="checkbox inline">
			<input type="checkbox">Reservekandidaten</i></input>
			</label>
			<label class="checkbox inline">
			<input type="checkbox">ausgeschiedene Kandidaten</input>
			</label>
			<label class="checkbox inline">
			<input type="checkbox">registrierte Nutzer ohne Zulassung</input>
			</label>
		</div>
	</div>
</div>
<hr style="margin-top: 0px; margin-bottom: 0px;border-bottom-color: #c9c2a6"/>
</div>
			
<div style="float: left; padding-top: 8px; width: 180px;">
<h4>Datensätze filtern nach:</h4>
</div>
<div class="tabbable" style="margin-left: 180px; margin-top: 3px;">
<ul class="nav nav-tabs" style="margin-bottom: 0px;">
	<li class=""><a href="#tab1" data-toggle="tab">Universität</a></li>
	<li class=""><a href="#tab2" data-toggle="tab">Status</a></li>
	<li class="active"><a href="#tab3" data-toggle="tab">Freitextsuche</a></li>
</ul>
<div class="tab-content" style="padding-top: 5px;">
	<div class="tab-pane" id="tab1">
	<div class="control-group" style="margin-bottom: 0px">
		<div class="controls">
			<select  style="margin-bottom: 5px">
				<option>alle Universitäten</option>
				<option>Brjansk</option>
				<option>Saratov</option>
				<option>Ufa</option>
				<option>...</option>
			</select>
		</div>
	</div>
	</div>
	<div class="tab-pane" id="tab2">
	<div class="control-group" style="margin-bottom: 0px">
		<div class="controls">
			<select style="margin-bottom: 5px;">
				<option>online registriert</option>
				<option>zur Vorauswahl zugelassen</option>
				<option>Vorauswahl nicht bestanden</option>
				<option>Vorauswahl bestanden</option>
				<option>zur Endauswahl zugelassen</option>
				<option>...</option>
			</select>
		</div>
	</div>
	</div>
	<div class="tab-pane active" id="tab3">
	<div class="control-group" style="margin-bottom: 0px">
		<div class="controls">
			<input placeholder="Freitextsuche" style="margin-bottom: 5px;">
			</input>
			<button class="btn" style="vertical-align: top">
			<i class="icon-search"></i>
			</button>
		</div>
	</div>
	</div>
</div>
</div>
<hr style="margin-top: 0px; margin-bottom: 0px;border-bottom-color: #c9c2a6"/>
<div class="btn-group" style="margin-top:5px; margin-bottom: 5px">
<a class="btn btn-apollogruen" href="#">x ausgewählte Datensätze</a>
<a class="btn btn-apollogruen dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
<ul class="dropdown-menu">
	<li><a href="#">alle Daten exportieren</a></li>
	<li><a href="#">Email-Adressen exportieren</a></li>
	<li><a href="#">...</a></li>
</ul>
</div>

<table width="100%" class="tabelle-kandidaten table table-striped">
      <thead style="background-color: #7CB036">
        <tr>
            <th width="5%"></th>
            <th width="25%">Kandidat</th>
            <th width="10%">Stadt</th>
            <th width="15%">Studium</th>
            <th width="10%">Anmelde- <br />datum</th>
            <th width="15%">Daten</th>
            <th width="20%">Status</th>
       </tr>
      </thead>
      <tbody style="background-color: #CFE69E">
        <tr>
            <td class="checkbox">
               <input type="checkbox">
            </td>
            <td>
            <p>Ivanov, Ivan
            <br>
            (Иванов, Иван Иванович)</p>
            Geb. 25.06.1991 (22 Jahre)
            </td>

            <td>Stavropol</td>
            <td>Mechanisierung
            <br />
            4. Kurs (Diplom)
            </td>

             <td>26.09.2012</td>

             <td>
            
             Registrierung
             <br />
             <i class="icon-align-justify"></i>
             
             </td>
             <td>nicht gesetzt</td>
        </tr>
        <tr>
            <td class="checkbox">
               <input type="checkbox">
            </td>
            <td>
            <p>Ivanov, Ivan
            <br>
            (Иванов, Иван Иванович)</p>
            Geb. 25.06.1991 (22 Jahre)
            </td>

            <td>Stavropol</td>
            <td>Mechanisierung
            <br />
            4. Kurs (Diplom)
            </td>

             <td>26.09.2012</td>

             <td>Zulassung: vollständig</td>
             <td>nicht gesetzt</td>
        </tr>
        <tr>
            <td class="checkbox">
               <input type="checkbox">
            </td>
            <td>
            <p>Ivanov, Ivan
            <br>
            (Иванов, Иван Иванович)</p>
            Geb. 25.06.1991 (22 Jahre)
            </td>

            <td>Stavropol</td>
            <td>Landwirtschaftliche Betriebswirtschaft
            <br />
            4. Kurs (Diplom)
            </td>

             <td>26.09.2012</td>

             <td></td>
             <td>nicht gesetzt</td>
        </tr>
      </tbody>
</table>
			
