@{
    ViewBag.Title = "Verwaltung_Kandidaten";
}


<div style="margin-right: 20px">
<h2>Verwaltung</h2>
</div>

<hr style="margin-top: 0px; margin-bottom: 0px;border-bottom-color: #c9c2a6"/>
<div class="inhalt_ebene2">
				
<div>
	<div style="float: left; margin-right: 10px; padding-top: 5px; width: 180px;">
		<h4>Anzeige einschließlich:</h4>
	</div>
					
	<div class="control-group" style="margin-bottom: 5px">
		<div class="controls">
			<label class="checkbox inline">
			<input type="checkbox">Reservekandidaten</i></input>
			</label>
			<label class="checkbox inline">
			<input type="checkbox">ausgeschiedene Kandidaten</input>
			</label>
			<label class="checkbox inline">
			<input type="checkbox">frühere Jahrgänge</input>
			</label>
		</div>
	</div>
	<!--alte Version ohne Tabs:
	<div style="float: left; margin-right: 10px; padding-top: 5px">
		<h4>Datensätze filtern:</h4>
	</div>
					
	<div class="control-group" style="float: left">
		<div class="controls">
			<select>
				<option>alle Universitäten</option>
				<option>Brjansk</option>
				<option>Saratov</option>
				<option>Ufa</option>
				<option>...</option>
			</select>
		</div>
	</div>
	<div style="margin-left: 15px; padding-top:5px; float: left">
		<p>
			<b><u>oder</u></b>
		</p>
	</div>
					
	<div class="control-group" style="margin-bottom: 0px">
		<div class="controls">
			<input placeholder="Freitextsuche" style="margin-left:20px">
			</input>
			<button class="btn" style="vertical-align: top">
			<i class="icon-search"></i>
			</button>
		</div>
	</div>
	-->
</div>
<hr style="margin-top: 0px; margin-bottom: 0px;border-bottom-color: #c9c2a6"/>
</div>
			
<div style="float: left; padding-top: 8px; width: 180px;">
<h4>Datensätze filtern nach:</h4>
</div>
<div class="tabbable" style="margin-left: 180px; margin-top: 3px;">
<ul class="nav nav-tabs" style="margin-bottom: 0px;">
	<li class=""><a href="#tab1" data-toggle="tab">Universität</a></li>
	<li class=""><a href="#tab2" data-toggle="tab">Status</a></li>
	<li class="active"><a href="#tab3" data-toggle="tab">Freitextsuche</a></li>
</ul>
<div class="tab-content" style="padding-top: 5px;">
	<div class="tab-pane" id="tab1">
	<div class="control-group" style="margin-bottom: 0px">
		<div class="controls">
			<select  style="margin-bottom: 5px">
				<option>alle Universitäten</option>
				<option>Brjansk</option>
				<option>Saratov</option>
				<option>Ufa</option>
				<option>...</option>
			</select>
		</div>
	</div>
	</div>
	<div class="tab-pane" id="tab2">
	<div class="control-group" style="margin-bottom: 0px">
		<div class="controls">
			<select style="margin-bottom: 5px;">
				<option>online registriert</option>
				<option>zur Vorauswahl zugelassen</option>
				<option>Vorauswahl nicht bestanden</option>
				<option>Vorauswahl bestanden</option>
				<option>zur Endauswahl zugelassen</option>
				<option>...</option>
			</select>
		</div>
	</div>
	</div>
	<div class="tab-pane active" id="tab3">
	<div class="control-group" style="margin-bottom: 0px">
		<div class="controls">
			<input placeholder="Freitextsuche" style="margin-bottom: 5px;">
			</input>
			<button class="btn" style="vertical-align: top">
			<i class="icon-search"></i>
			</button>
		</div>
	</div>
	</div>
</div>
</div>
<hr style="margin-top: 0px; margin-bottom: 0px;border-bottom-color: #c9c2a6"/>
<div class="btn-group" style="margin-top:5px; margin-bottom: 5px">
<a class="btn btn-apollogruen" href="#">x ausgewählte Datensätze</a>
<a class="btn btn-apollogruen dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
<ul class="dropdown-menu">
	<li><a href="#">alle Daten exportieren</a></li>
	<li><a href="#">Email-Adressen exportieren</a></li>
	<li><a href="#">...</a></li>
</ul>
</div>
			
<div class="kandidatenliste" style="background-color: white; margin-bottom: 0px">
<div class="kandidat" style="background-color: white">
	<hr style="margin-top: 0px; margin-bottom: 5px"/>
	<div class="kandidat_links" style="float: left; padding: 5px">
		<p><b>Kandidat 007</b></p>
		<p><b>Anrede Name Vorname lat</b></p>
		<p><b>Anrede Name Vorname kyr</b></p>
		<p>Geb.-Datum</p>
		<p>Universität</p>
	</div>
					
	<div class="kandidat_rechts">
		<p><b>Ergebnis 1. Auswahl</b></p>
	</div>
					
</div>
				
<div class="kandidat erweitert" style="margin-bottom: 0px; background-color: white; padding: 5px">
	<div class="kandidat_links" style="float: left">
		<p>Studienziel</p>
		<p>Studienfach</p>
		<p>Kurs ... von ....</p>
	</div>
					
	<div class="kandidat_rechts">
		<p><b>Ergebnis 1. Auswahl</b></p>
	</div>
					
</div>
<div class="toggle">
	<a href="#" class="toggle"><i class="icon-chevron-up"></i><i class="icon-chevron-down"></i></a>
</div>
				
<div class="kandidat">
	<hr style="margin-top: 0px; margin-bottom: 5px"/>
	<div class="kandidat_links" style="float: left; padding:5px">
		<p><b>Kandidat Nr. 007</b></p>
		<p><b>Herr Ivan Ivanov</b></p>
		<p><b>г-н Иванов Иван Иванович</b></p>
		<p>geb. 01.02.1993, Alter: 19 Jahre</p>
		<p>Brjansk</p>
	</div>
	<div style="float: left"> 
		<div class="tabbable">
			<ul class="nav nav-tabs">
				<li class="active"><a href="#tab4" data-toggle="tab">Zulassung </br>1. Auswahl</a></li>
				<li class=""><a href="#tab5" data-toggle="tab">Ergebnis </br>1. Auswahl</a></li>
				<li class=""><a href="#tab6" data-toggle="tab">Zulassung </br>2. Auswahl</a></li>
				<li class=""><a href="#tab7" data-toggle="tab">Ergebnis </br>2. Auswahl</a></li>
				<li class=""><a href="#tab8" data-toggle="tab">Zulassung </br>zum Praktikum</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="tab4">
				<div class="control-group" style="margin-bottom: 0px">
					<div class="controls">
						<select>
							<option>nicht zugelassen</option>
							<option>zugelassen</option>
						</select>
					</div>
				</div>
				</div>
				<div class="tab-pane" id="tab5">
					<div class="control-group" style="margin-bottom: 0px">
						<div class="controls">
							<select>
								<option>online registriert</option>
								<option>zur Vorauswahl zugelassen</option>
								<option>Vorauswahl nicht bestanden</option>
								<option>Vorauswahl bestanden</option>
								<option>zur Endauswahl zugelassen</option>
								<option>...</option>
							</select>
						</div>
					</div>
				</div>
				<div class="tab-pane" id="tab6">
					<div class="control-group" style="margin-bottom: 0px">
						<div class="controls">
							<input placeholder="Freitextsuche">
							</input>
							<button class="btn" style="vertical-align: top">
							<i class="icon-search"></i>
							</button>
						</div>
					</div>
				</div>
				<div class="tab-pane" id="tab7">
					<div class="control-group" style="margin-bottom: 0px">
						<div class="controls">
							<select>
								<option>online registriert</option>
								<option>zur Vorauswahl zugelassen</option>
								<option>Vorauswahl nicht bestanden</option>
								<option>Vorauswahl bestanden</option>
								<option>zur Endauswahl zugelassen</option>
								<option>...</option>
							</select>
						</div>
					</div>
				</div>
				<div class="tab-pane" id="tab8">
					<div class="control-group" style="margin-bottom: 0px">
						<div class="controls">
							<select>
								<option>online registriert</option>
								<option>zur Vorauswahl zugelassen</option>
								<option>Vorauswahl nicht bestanden</option>
								<option>Vorauswahl bestanden</option>
								<option>zur Endauswahl zugelassen</option>
								<option>...</option>
							</select>
						</div>
					</div>
				</div>
							  
			</div>
		</div>
	</div>
</div>
				
<div class="kandidat erweitert" style="margin-bottom: 0px">
	<div class="kandidat_links" style="float: left">
		<p>Studienziel</p>
		<p>Studienfach</p>
		<p>Kurs ... von ....</p>
	</div>
					
	<div class="kandidat_rechts">
		<p><b>Ergebnis 1. Auswahl</b></p>
	</div>
					
</div>
<div class="toggle">
	<a href="#" class="toggle"><i class="icon-chevron-up"></i><i class="icon-chevron-down"></i></a>
</div>
				
<div class="kandidat">
<hr style="margin-top: 0px; margin-bottom: 0px"/>
</div>