@using ApolloDb
@model DashboardModel
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="textlinksrechts">
    <div class="alert alert-info fade in" id="invalidInputMsg">
        <a class="close" data-dismiss="alert" href="#">×</a>
        Vielen Dank für Ihre Registrierung. Sie erhalten eine Bestätigungsemails an <b>.....</b> .  | Übersetzung
    </div>
     
    <tr>
        <td class="links"><h2>Benutzerkonto</h2></td>
        <td class="rechts"><h2><i>Übersetzung</i></h2></td>
    </tr>
    <tr>
        <td class="links">
            <b>Deine Daten:</b> @Model.VollerNameKY 
            @Model.Email... <a href="">mehr</a>
        </td>
        <td class="rechts"></td>
    </tr>    
    @if (Model.KandidatStatus == KandidatStatus.Registriert)
    {
        <tr>
            <td class="links">
                <b>Status</b>: Um am Auswahlverfahren teilnehmen zu können, 
                füllen Sie bitte das Anmeldungsformular aus: <a href='@Url.Action("Anmeldung", "Account")'>Zum Formular</a>. | Übersetzung" 
            </td>
            <td class="rechts">
                Вот об давать решить, движение программистов это он, ты тест того 
                после это. Вы погодите программном про, но всего основам три, их вас меньше продлить расположенной. Вам вещь долгий трудовой то. Опа ну вопрос череды безостановочно, том об силы заведено интервью, что те хватит написано найденных. На всю кровью разным. Чем их многие который вернуться, 
                раздутое количества стряпающийся не мои, от коду адрес найденных биг.
            </td>
        </tr>        
    }
    @if (Model.KandidatStatus == KandidatStatus.AnmeldungVollstaendig)
    {
        <tr>
            <td class="links">
                <b>Status</b>: Sie haben alle erforderlichen Daten für die Anmeldung eingegeben. 
                Hurray. Wir werden Sie bald per Email benachrichtigen, ob Sie zum Auswahlgespräch zugelassen sind. | Übersetzung. 
            </td>
            <td class="rechts">
                Вот об давать решить, движение программистов это он, ты тест того 
                после это. Вы погодите программном про, но всего основам три, их вас меньше продлить расположенной. Вам вещь долгий трудовой то. Опа ну вопрос череды безостановочно, том об силы заведено интервью, что те хватит написано найденных. На всю кровью разным. Чем их многие который вернуться, 
                раздутое количества стряпающийся не мои, от коду адрес найденных биг.
            </td>
        </tr>        
    }
    @if (Model.KandidatStatus == KandidatStatus.Zugelassen)
    {
        <tr>
            <td class="links">
                Herzlichen Glückwunsch. Sie wurden zum Auswahlgespräch zugelassen. Wir freuen uns.
            </td>
            <td class="rechts">
                Вот об давать решить, движение программистов это он, ты тест того 
                после это. Вы погодите программном про, но всего основам три, их вас меньше продлить расположенной. Вам вещь долгий трудовой то. Опа ну вопрос череды безостановочно, том об силы заведено интервью, что те хватит написано найденных. На всю кровью разным. Чем их многие который вернуться, 
                раздутое количества стряпающийся не мои, от коду адрес найденных биг.
            </td>
        </tr>        
    }
    

</table>


