@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="textlinksrechts"> 
	<tr class="alleinestehend erstezeile">
	    <td class="links">
	    <h2>Mein Benutzerkonto</h2>
	    </td>
	    <td class="rechts">
	    <h2><i>Übersetzung</i></h2>
	    </td>
	</tr>
</table>
<table class="textlinksrechts">
	<div class="form-horizontal">
        <div class="control-group">
            <label class="control-label">Name | <i>Übersetzung</i>:</label>
            <div class="controls">
                <span class="help-inline ohne_feld">Иванов</span>          
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Vorname | <i>Übersetzung</i>:</label>
            <div class="controls">
                <span class="help-inline ohne_feld">Иван</span>          
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Vatersname | <i>Übersetzung</i>:</label>
            <div class="controls">
                <span class="help-inline ohne_feld">Иванович</span>          
            </div>
        </div>
    </div>
</table>
<table class="textlinksrechts"> 
	<tr>
	<td class="links">
	<h3>Stand der Anmeldung</h3>
	</td>
	<td class="rechts">
	<h3><i>Übersetzung</i></h3>
	</td>
	</tr>
    <tr>
	    <td class="links">
	    Letzter Schritt
	    </td>
	    <td class="rechts">
	    <i>Übersetzung</i>
	    </td>
	</tr>
    <tr>
	    <td class="links">
	    Nächster Schritt
	    </td>
	    <td class="rechts">
	    <i>Übersetzung</i>
	    </td>
	</tr>
</table>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />


