@{
    ViewBag.Title = "Login";
}

<form class="form-horizontal">
	<fieldset>
		<table class="textlinksrechts"> 
			<tr>
				<td class="links"><p class="ueberschrift">Login</p></td>
				<td class="rechts"><p  class="ueberschrift"><i>Übersetzung</i></p></td>
			</tr>
		</table>
		<div class="control-group">
			<label class="control-label" for="benutzername">Emailadresse | <i>Übersetzung</i>:</label>
			<div class="controls">
				<input type="text" id="benutzername" style="width:290px">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="password">Passwort | <i>Übersetzung</i>:</label>
			<div class="controls">
				<input type="password" id="passwort" style="width:290px">
				<a class="help-block" href=#>Passwort vergessen? | <i>Übersetzung</i></a>
			</div>
		</div>
		<div class="form-actions">
			<p>
			<button type="submit" class="btn btn-primary btn-apollogruen" style="min-width:300px">Anmelden | <i>Übersetzung</i></button>
			<button class="btn" style="min-width:300px">Noch nicht registriert? | <i>Übersetzung</i></button>
			</p>
		</div>
	</fieldset>	
</form>
