@{
    ViewBag.Title = "LogOff";
}


	
<div class="alert alert-success fade in" id="invalidInputMsg">
    <a class="close" data-dismiss="alert" href="#">×</a>
    Sie wurden abgemeldet | Übersetzung.
</div>
        
<div style="padding:5px;">
    <ul>
        <li><a href="/">Zur Startseite der Online-Bewerbung</a></li>
        <li><a href="http://apollo-verein.de">Zur Apollo-Verein Webseite</a></li>
    </ul>
</div>

