@{
    ViewBag.Title = "LogOff";
}


	
<div class="alert alert-success fade in" id="invalidInputMsg">
    <a class="close" data-dismiss="alert" href="#">×</a>
    Sie wurden abgemeldet | Übersetzung.
</div>
        
<div style="padding:5px;">
    
        <a href="/">Zur Startseite der Online-Bewerbung | Übersetzung</a><br />
        <a href="http://apollo-online.de">Zur APOLLO-Homepage | Übersetzung</a>
</div>

