@model PasswortAendernModel 
@{
    ViewBag.Title = "Passwort ändern";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="textlinksrechts">
    <tr class="erstezeile alleinestehend">
        <td class="links"><h2>Passwort ändern</h2></td>
        <td class="rechts"><h2>Изменить пароль</h2></td>
    </tr>
</table>
<table class="textlinksrechts">
    <div class="form-horizontal" style="margin-top:40px;">
        <div class="control-group">
            <label class="control-label">Altes Passwort | Старый пароль:</label>
            <div class="controls">
                @Html.PasswordFor(x => x.AltesPasswort)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Neues Passwort | Новый пароль:</label>
            <div class="controls">
                @Html.PasswordFor(x => x.NeuesPasswort1)
            </div>
        </div>
        <div class="control-group" style="margin-bottom:0px;">
            <label class="control-label">Neues Passwort Wiederholung | Повторить новый пароль:</label>
            <div class="controls">
                @Html.PasswordFor(x => x.NeuesPasswort2)
            </div>
            <div class="controls">
                <button class="btn btn-apollogruen button_rechts_mit_erklaerung" style="margin-left:0px; margin-top:20px;">Passwort ändern | Изменить пароль</button>
            </div>
            <div class="controls">
                <button class="btn button_rechts_mit_erklaerung" style="margin-left:0px; margin-top:10px;">abbrechen | Отменить</button>
            </div>
        </div>
    </div>
</table>
