@{
    ViewBag.Title = "Passwort ändern";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="textlinksrechts">
    <tr class="erstezeile alleinestehend">
        <td class="links"><h2>Passwort ändern</h2></td>
        <td class="rechts"><h2><i>Übersetzung</i></h2></td>
    </tr>
</table>
<table class="textlinksrechts">
    <div class="form-horizontal">
        <div class="control-group">
            <label class="control-label">Altes Passwort | <i>Übersetzung</i></label>
            <div class="controls">
                <input type="text" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Neues Passwort | <i>Übersetzung</i></label>
            <div class="controls">
                <input type="text" />
            </div>
        </div>
        <div class="control-group" style="margin-bottom:0px;">
            <label class="control-label">Neues Passwort Wiederholung | <i>Übersetzung</i></label>
            <div class="controls">
                <input type="text" />
            </div>
            <div class="controls">
                    <button class="btn btn-apollogruen button_rechts_mit_erklaerung" style="margin-left:0px; margin-top:20px;">Passwort ändern | <i>Übersetzung</i></button>
            </div>
            <div class="controls">
                    <button class="btn button_rechts_mit_erklaerung" style="margin-left:0px; margin-top:10px;">abbrechen | <i>Übersetzung</i></button>
            </div>
        </div>
    </div>
</table>
