@{
    ViewBag.Title = "Passwort vergessen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="textlinksrechts">
    <tr class="erstezeile alleinestehend">
        <td class="links"><h2>Passwort vergessen?</h2></td>
        <td class="rechts"><h2><i>Übersetzung</i></h2></td>
    </tr>
</table>
<table class="textlinksrechts">
    <tr>
        <td class="links">Falls Sie Ihr Passwort vergessen haben, können Sie sich ein neues an die von Ihnen angegebene Email-Adresse schicken lassen. Danach können Sie Ihr temporäres Passwort ändern.</td>
        <td class="rechts"><i>Übersetzung</i></td>
    </tr>
</table>
<table class="textlinksrechts">
    <div class="form-horizontal">
        <div class="control-group" style="margin-bottom:0px;">
            <label class="control-label">Ihre Emailadresse | Übersetzung:</label>
            <div class="controls">
                <input type="text" />
            </div>
            <div class="controls">
                    <button class="btn btn-apollogruen button_rechts_mit_erklaerung" style="margin-left:0px; margin-top:20px;">Jetzt neues Passwort anfordern<br /><i>Übersetzung</i></button>
            </div>
            <div class="controls">
                    <button class="btn button_rechts_mit_erklaerung" style="margin-left:0px; margin-top:10px;">abbrechen | <i>Übersetzung</i></button>
            </div>
        </div>
    </div>
</table>
