@model RegistrierungErfolgreichModel 
@{
    ViewBag.Title = "RegistrierungErfolgreich";
    Layout = "~/Views/Shared/_Layout.cshtml";    
}

<h2>RegistrierungErfolgreich</h2>

<table class="textlinksrechts"> 
    <tr>
        <td class="links">
            <p>Die Registrierung war erfolgreich. Nächste Scrhitte:</p>
        </td>
        <td class="rechts">
            <p>
                <i>Übersetzung</i>, продлить платформу об, улице сейчас действия уже ну:
            </p>
        </td>
    </tr>
</table>

<a href="/Bewerbung/Zulassung" class="btn btn-primary btn-apollogruen">Anmelden | <i>Übersetzung</i></a>
