<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <sectionGroup name="gibraltar">
      <section name="listener" type="Gibraltar.Agent.ListenerElement, Gibraltar.Agent" />
      <section name="packager" type="Gibraltar.Agent.PackagerElement, Gibraltar.Agent" />
      <section name="publisher" type="Gibraltar.Agent.PublisherElement, Gibraltar.Agent" />
      <section name="sessionFile" type="Gibraltar.Agent.SessionFileElement, Gibraltar.Agent" />
      <section name="viewer" type="Gibraltar.Agent.ViewerElement, Gibraltar.Agent" />
      <section name="email" type="Gibraltar.Agent.EmailElement, Gibraltar.Agent" />
      <section name="server" type="Gibraltar.Agent.ServerElement, Gibraltar.Agent" />
      <section name="autoSendConsent" type="Gibraltar.Agent.AutoSendConsentElement, Gibraltar.Agent" />
      <section name="networkViewer" type="Gibraltar.Agent.NetworkViewerElement, Gibraltar.Agent" />
      <section name="properties" type="System.Configuration.NameValueSectionHandler" />
    </sectionGroup>
  </configSections>
  
  <connectionStrings>
    <add name="main" connectionString="Server=(local);Database=ApolloDb;uid=ApolloDb;pwd=jksdDD34jkDE4" />
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="smtp.robert-m.de" port="25" userName="apollo-db@robert-m.de" password="fooBarBla" />
      </smtp>
    </mailSettings>
  </system.net>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    
  <healthMonitoring enabled="true" heartbeatInterval="0"><profiles><add name="GibraltarProfile" minInstances="1" maxLimit="Infinite" minInterval="00:00:00" /></profiles><providers><add name="Gibraltar" type="Gibraltar.Agent.Web.GibraltarEventProvider, Gibraltar.Agent.Web" /></providers><rules><add name="Gibraltar Event Provider" eventName="All Events" provider="Gibraltar" profile="GibraltarProfile" /></rules></healthMonitoring></system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="true" />
    <modules runAllManagedModulesForAllRequests="true">
      
    <add name="RequestTrackingModule" type="Gibraltar.Agent.Web.RequestTrackingModule, Gibraltar.Agent.Web" /></modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.4000" newVersion="3.3.1.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  
  
<gibraltar><!-- Here is where all of the Gibraltar configuration sections can be added. --></gibraltar><system.diagnostics><trace><listeners><add name="gibraltar" type="Gibraltar.Agent.LogListener, Gibraltar.Agent" /></listeners></trace></system.diagnostics></configuration>