.vs/
_svn/
.svn/
obj/
*.eml
[Bb]in/
[Dd]ebug/   
[Rr]elease/   
_Re[Ss]harper.*
*.[Rr]e[Ss]harper
*.[Rr]e[Ss]harper.user
*.suo
*.cache
*~
*.swp
*.user

# mstest test results
TestResults
Frontend.Web.suo
