
/*************************************************************************************/
/*************************************************************************************/
/*                               CSS der APOLLO-Homepage                             */
/*************************************************************************************/
/*************************************************************************************/



/****************************************************************/
/*   Design:   Multiflex-3.12 / Layout-2                        */
/*   File:     Global layout structure                          */
/*--------------------------------------------------------------*/
/*   Design:   www.1234.info                                    */
/*   Date:     January 20, 2008                                 */
/*--------------------------------------------------------------*/
/*   License:  Fully open source without restrictions.          */
/*             Please keep footer credits with the words        */
/*             "Design by 1234.info". Thank you!                */
/****************************************************************/

/************/
/*  GLOBAL  */
/************/

/* NON-HEADER */
*{padding:0; margin:0;}
 body {
	font-family:verdana,arial,sans-serif;
	background-color: #EDE4C3;
} /*Font-size: 1.0em = 10px when browser default size is 16px*/
.page-container {
	width:900px;
	margin:0px auto;
	margin-top:10px;
	margin-bottom:10px;
	border:1px solid #FFFFFF;
	font-size:1em;
}
.main {
	clear:both;
	width:900px;
	padding-bottom:30px;
	background-image: url(../img/bg_main_withnav.jpg);
}
.main-navigation {display:inline /*Fix IE floating margin bug*/; float:left; width:200px; overflow:visible !important /*Firefox*/; overflow:hidden /*IE6*/;}
.main-content {
	display:inline; /*Fix IE floating margin bug*/
	;
	float:left;
	width:840px;
	padding:30px 30px 30px 30px;
	overflow:visible !important /*Firefox*/;
	overflow:hidden /*IE6*/;
	background-color: #F3F3D7;
}
.main-subcontent {
	display:inline /*Fix IE floating margin bug*/;
	float:right;
	width:185px;
	margin:15px 15px 0 0;
	overflow:visible !important /*Firefox*/;
	overflow:hidden /*IE6*/;
}

.footer {
	clear:both;
	width:900px;
	padding:1.0em 0 1.0em 0;
	font-size:1.0em;
	overflow:visible !important /*Firefox*/;
	overflow:hidden /*IE6*/;
	background-color: #568B3B;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #FFFFFF;
}

/* --- For alternative headers START PASTE here --- */

/* HEADER */
.header {
	width:900px;
	font-family:"trebuchet ms",arial,sans-serif;
}
.header-top {
	width:900px;
	height:110px;
	border-bottom:1px solid #FFFFFF;
	overflow:visible !important /*Firefox*/;
	overflow:hidden /*IE6*/;
	background-color: #568B3B;
}
.header-middle {
	width:900px;
	height:0px;
	overflow:visible !important /*Firefox*/;
	overflow:hidden /*IE6*/;
	background-image: url(../img/topbanner.jpg);
}
.header-bottom {width:900px;}
.header-breadcrumbs {
	clear:both;
	width:890px;
	background-color: #568B3B;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #FFFFFF;
	padding-left: 10px;
}

/********************/
/*  HEADER SECTION  */
/********************/
.sitelogo {
	width:200px;
	height:100px;
	position:absolute;
	z-index:1;
	margin:9px 0 0 5px;
	background-image: url(themes/base/images/alogo.jpg);
	background-color: #568B3B;
	background-repeat: no-repeat;
}
.sitename {
	width:600px;
	height:45px;
	position:absolute;
	z-index:1;
	margin:32px 0 0 225px;
	overflow:visible !important /*Firefox*/;
	overflow:hidden /*IE6*/;
}
.sitename h1 {font-size:150%;}
.sitename h2 {
	margin:-4px 0 0 0;
	color:#FFFFFF;
	font-size:75%;
}
.sitename a {
	text-decoration:none;
	color:#FFFFFF;
}
.sitename a:hover {
	text-decoration:none;
	color:#FFFFFF;
}

.nav0 {
	width:250px;
	position:absolute;
	z-index:2;
	margin:38px 0 0 0;
	margin-left:650px !important /*Firefox*/;
	margin-left:553px /*IE6*/;
}
.nav0 ul {float:right; padding:0 20px 0 0;}
.nav0 li {display:inline; list-style:none;}
.nav0 li a {padding:0 0 0 3px;}
.nav0 a:hover {text-decoration:none;}
.nav0 a img {height:14px; border:none;}

.nav1 {
	width:250px;
	position:absolute;
	z-index:3;
	margin:68px 0 0 550px;
	margin-left: 650px;
}
.nav1 ul {float:right; padding:0 15px 0 0; font-weight:bold;}	
.nav1 li {display:inline; list-style:none;}
.nav1 li a {
	display:block;
	float:left;
	padding:2px 5px 2px 5px;
	color:#99CC33;
	text-decoration:none;
	font-size:120%;
}
.nav1 a:hover {
	text-decoration:none;
	color:#FFCC00;
}

.sitemessage {
	width:300px;
	height:0px;
	position:absolute;
	z-index:1;
	color:rgb(234,239,247); /*overflow:visible !important /*Activate if Firefox print problems*/
	;
	overflow:hidden /*IE6*/;
}
.sitemessage h1 {
	width:300px;
	text-align:left;
	font-size:230%;
}
.sitemessage h2 {
	float:left;
	width:320px;
	margin:8px 0 0 0;
	text-align:left;
	line-height:100%;
	font-size:160%;
}
.sitemessage h3 {
	float:right;
	width:320px;
	margin:10px 0 0 0;
	text-align:left;
	font-size:140%;
}
.sitemessage h3 a {text-decoration:none; color:rgb(234,239,247);}
.sitemessage h3 a:hover {text-decoration:none; color:rgb(50,50,50);}

/*Drop-down menu*/
.nav2 {
	white-space:nowrap /*IE hack*/;
	float:left;
	width:900px;
	border:solid 1px 1px 0px 0px 0px;
	color:#FFFFFF;
	font-size:130%;
	background-color: #99CC33;
} /*Color navigation bar normal mode*/
.nav2 ul {
	list-style-type:none;
}
.nav2 ul li {
	float:left;
	z-index:auto !important /*Non-IE6*/;
	z-index:1000 /*IE6*/;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #FFFFFF;
	width: 120px;
}
.nav2 ul li a {
	float:none !important /*Non-IE6*/;
	float:left /*IE-6*/;
	display:block;
	height:3.1em;
	line-height:3.1em;
	text-decoration:none;
	font-weight:bold;
	color: #336633;
	text-align: center;
}
.nav2 ul li ul {display:none; border:none;}

/*Non-IE6 hovering*/
.nav2 ul li:hover {position:relative;} /*Sylvain IE hack*/
.nav2 ul li:hover a {
	background-color:#FFCC00;
	text-decoration:none;
} /*Color main cells hovering mode*/
.nav2 ul li:hover ul {display:block; width:10.0em; position:absolute; z-index:999; top:3.0em; margin-top:0.1em; left:0;}
.nav2 ul li:hover ul li a {white-space:normal; display:block; width:10.0em; height:auto; line-height:1.3em; margin-left:-1px; padding:4px 16px 4px 16px; border-left:solid 1px rgb(175,175,175); border-bottom: solid 1px rgb(175,175,175); background-color:rgb(237,237,237); font-weight:normal; color:rgb(50,50,50);} /*Color subcells normal mode*/
.nav2 ul li:hover ul li a:hover {background-color:rgb(210,210,210); text-decoration:none;} /*Color subcells hovering mode*/

/*IE6 hovering*/
.nav2 table {position:absolute; top:0; left:-1px; border-collapse:collapse;}
.nav2 ul li a:hover {
	position:relative /*Sylvain IE hack*/;
	z-index:1000 /*Sylvain IE hack*/;
	background-color:#FFCC00;
	text-decoration:none;
} /*Color main cells hovering mode*/
.nav2 ul li a:hover ul {display:block; width:10.0em; position:absolute; z-index:999; top:3.1em; t\op:3.0em; left:0; marg\in-top:0.1em;}
.nav2 ul li a:hover ul li a {
	white-space:normal;
	display:block;
	w\idth:10em;
	height:1px;
	line-height:1.3em;
	padding:4px 16px 4px 16px;
	border-left:solid 1px rgb(175,175,175);
	border-bottom: solid 1px rgb(175,175,175);
	background-color:#FFCC00;
	font-weight:normal;
	color:rgb(50,50,50);
} /*Color subcells normal mode*/
.nav2 ul li a:hover ul li a:hover {
	background-color:#FFCC00;
	text-decoration:none;
} /*Color subcells hovering mode*/

.header-breadcrumbs ul {
	float:right;
	width:895px;
	list-style:none;
	padding:0 0 0 15px;
	font-family:verdana,arial,sans-serif;
}
.header-breadcrumbs ul li {
	display:inline;
	padding:0 0 0 10px;
	background:transparent url(../img/bg_bullet_arrow.gif) no-repeat 0 50%;
	font-weight:bold;
	color:#FFFFFF;
	font-size:100%;
}
.header-breadcrumbs ul a {
	color:#FFFFFF;
	text-decoration:none;
}
.header-breadcrumbs ul a:hover {
	color:#99CC33;
	text-decoration:underline;
}

.header-breadcrumbs .searchform {
	float:right;
	width:285px;
	padding:0 17px 0px 0px !important /*Non-IE6*/;
	padding:0 12px 0px 0px /*IE6*/;
	height: 20px;
}
.header-breadcrumbs .searchform form fieldset {float:right; border:none;}
.header-breadcrumbs .searchform input.field {width:10.0em; padding:0.2em 0 0.2em 0; border:1px solid rgb(200,200,200); font-family:verdana,arial,sans-serif; font-size:120%; }
.header-breadcrumbs .searchform input.button {width:3.0em; padding:1px !important /*Non-IE6*/; padding:0 /*IE6*/; background:rgb(230,230,230); border:solid 1px rgb(150,150,150); text-align:center; font-family:verdana,arial,sans-serif; color:rgb(150,150,150); font-size:120%;}
.header-breadcrumbs .searchform input.button:hover {cursor:pointer; border:solid 1px rgb(80,80,80); background:rgb(220,220,220); color:rgb(80,80,80);}

/* --- For alternative headers END PASTE here --- */

/******************/
/*  MAIN SECTION  */
/******************/

/* MAIN NAVIGATION */
.main-navigation .round-border-topright {width:10px; height:10px; position:absolute; z-index:100; margin:0 0 0 190px; background:url(../img/bg_corner_topright.gif) no-repeat;}

/* MAIN CONTENT */
.column1-unit {width:440px; margin-bottom:10px !important /*Non-IE6*/; margin-bottom:5px /*IE6*/;}
.column2-unit-left {float:left; width:200px; margin-bottom:10px !important /*Non-IE6*/; margin-bottom:5px /*IE6*/;}
.column2-unit-right {float:right; width:200px; margin-bottom:10px !important /*Non-IE6*/; margin-bottom:5px /*IE6*/;}
.column3-unit-left {float:left; width:120px; margin-bottom:10px !important /*Non-IE6*/; margin-bottom:5px /*IE6*/;}
.column3-unit-middle {float:left; width:120px; margin-bottom:10px !important /*Non-IE6*/; margin-bottom:5px /*IE6*/; margin-left:40px;}
.column3-unit-right {float:right; width:120px; margin-bottom:10px !important /*Non-IE6*/; margin-bottom:5px /*IE6*/;}

/* MAIN SUBCONTENT */
.subcontent-unit-border {
	width:183px;
	margin:2.0em 0 0  0;
	padding:0 0 5px 0;
	border:1px solid #426352;
	background-color: #F3F3D7;
}
.subcontent-unit-border-green {
	width:183px;
	margin:2.0em 0 0 0;
	padding:0 0 10px 0;
	border:solid 1px rgb(160,214,81);
	background-color:#F3F3D7;
}
.subcontent-unit-border-blue  {
	width:183px;
	margin:2.0em 0 0 0;
	padding:0 0 10px 0;
	border:1px solid #568B3B;
	background-color:#F3F3D7;
}
.subcontent-unit-border-orange {
	width:183px;
	margin:2.0em 0 0 0;
	padding:0 0 10px 0;
	border:solid 1px rgb(232,177,13);
	background-color:#F3F3D7;
}

.subcontent-unit-noborder {
	width:185px;
	margin:2.0em 0 0 0;
	padding:0 0 10px 0;
	background-color: #EDE4C3;
}
.subcontent-unit-noborder-green {
	width:185px;
	margin:2.0em 0 0 0;
	padding:0 0 10px 0;
	background-color:#EDE4C3;
}
.subcontent-unit-noborder-blue  {
	width:185px;
	margin:2.0em 0 0 0;
	padding:0 0 10px 0;
	background-color:#EDE4C3;
}
.subcontent-unit-noborder-orange {
	width:185px;
	margin:2.0em 0 0 0;
	padding:0 0 10px 0;
	background-color:#EDE4C3;
}

.round-border-topleft {width:10px; height:10px; position:absolute; z-index:100; background:url(../img/bg_corner_topleft.gif) no-repeat; margin-top:-1px; margin-left:-1px;}
.round-border-topright {width:10px; height:10px; position:absolute; z-index:100; background:url(../img/bg_corner_topright.gif) no-repeat; margin-top:-1px; margin-left:174px;}
.round-noborder-topleft {width:10px; height:10px; position:absolute; z-index:100; background:url(../img/bg_corner_topleft.gif) no-repeat; margin-top:0px; margin-left:0px;}
.round-noborder-topright {width:10px; height:10px; position:absolute; z-index:100; background:url(../img/bg_corner_topright.gif) no-repeat; margin-top:0px; margin-left:175px;}



/********************/
/*  FOOTER SECTION  */
/********************/
.footer p {
	line-height:1.3em;
	text-align:center;
	color:#FFFFFF;
	font-weight:bold;
	font-size:110%;
}
.footer p.credits {font-weight:normal;}
.footer a {
	text-decoration:underline;
	color:#FFCC00;
}
.footer a:hover {text-decoration:none; color:rgb(0,0,0);}
.footer a:visited {color:rgb(0,0,0);}

/******************/
/*  CLEAR FLOATS  */
/******************/
.page-container:after, .header:after, .header-bottom:after, .header-breadcrumbs:after, .main:after, .main-navigation:after, .main-content:after, .main-content div:after, .main-subcontent:after {content:"."; display:block; height:0; clear:both; visibility:hidden;}
.column1-unit:after, .column2-unit-left:after, .column2-unit-right:after, .column3-unit-left:after, .column3-unit-middle:after, .column3-unit-right:after {content:"."; display:block; height:0; clear:both; visibility:hidden;}
.subcontent-unit-border:after, .subcontent-unit-noborder:after {content:"."; display:block; height:0; clear:both; visibility:hidden;}
.subcontent-unit-border-blue:after, .subcontent-unit-border-green:after, .subcontent-unit-border-orange:after {content:"."; display:block; height:0; clear:both; visibility:hidden;}
.subcontent-unit-noborder-blue:after, .subcontent-unit-noborder-green:after, .subcontent-unit-noborder-orange:after {content:"."; display:block; height:0; clear:both; visibility:hidden;}
 p:after {content:"."; display:block; height:0; /*clear:both*/; visibility:hidden;}
.footer:after {content:"."; display:block; height:0; clear:both; visibility:hidden;}
.clear-contentunit {clear:both; width:440px; height:0.1em; border:none; background:rgb(210,210,210); color:rgb(210,210,210);}

/********************************/
/*  PRINTING and MISCELLANEOUS  */
/********************************/
@media print {.header-top {width:900px; height:80px; background:rgb(240,240,240); overflow:visible !important /*Firefox*/; overflow:hidden /*IE6*/;}}
@media print {.header-breadcrumbs {
	width:200px;
}}
@media print {.nav2 {
	float:left;
	width:900px;
	border:none;
	background:rgb(240,240,240);
	color:#003333;
	font-size:1.0em;
	font-size:130%;
}} /*Color navigation bar normal mode*/
@media print {.main {
	clear:both;
	width:900px;
	padding-bottom:30px;
}}
@media print {.main-navigation {
	display:inline /*Fix IE floating margin bug*/;
	float:left;
	width:199px;
	border-right:solid 1px rgb(200,200,200);
	border-bottom:solid 1px rgb(200,200,200);
	background-color:#99CC33;
	overflow:visible !important /*Firefox*/;
	overflow:hidden /*IE*/;
}}
@media print {.footer {clear:both; width:900px; height:3.7em; padding:1.1em 0 0; background:rgb(240,240,240); font-size:1.0em; overflow:visible !important /*Firefox*/; overflow:hidden /*IE6*/;}}

/*************************************************************************************/
/*************************************************************************************/
/*                         CSS der APOLLO-Homepage Ende                              */
/*************************************************************************************/
/*************************************************************************************/


/*************************************************************************************/
/*************************************************************************************/
/*                                  Eigene Styles                                    */
/*************************************************************************************/
/*************************************************************************************/

/*sehr dunkles Grün als Standardschriftfarbe:*/  

body {
color: #253D19;
font-size: 12px;
}

label, input {
    font-size: 12px;
}

.main-content h1, .main-content h2, .main-content h3 {
font-family:"trebuchet ms", arial, sans-serif;
font-weight: normal;
}

.main-content h2 {
font-size: 24px;
}

.main-content h3 {
font-size: 20px;
}

.ueberschrift {
font-family:"trebuchet ms", arial, sans-serif;
}
    
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    font-size: 12px;
}

.navbar .brand {
    color: #568B3B;
	float: left;
}

.stepsleftbar {
	background: none; /*bewirkt, dass der nicht genutzte Rest der Bar keinen Hintergrund hat*/
	float: left;
	list-style: none;
	margin: 0;
	margin-top: 100px; /*damit es nicht hinter der Navbar verschwindet*/
	margin-bottom: 0;
	padding: 0;
	width: 100%;
}
.stepsleftbar li {
	float: left;
	font: 1.1em "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
}
.stepsleftbar a {
	background: #737373 url("../img//seperator.gif") bottom right no-repeat;
	color: #ccc;
	display: block;
	float: left;
	margin: 0;
	padding: 8px 12px;
	text-decoration: none;
	font-weight: bold;
	border: 1px solid #000;
}
.stepsleftbar a:hover {
	background: #568B3B url("../img/hover.gif") bottom center no-repeat;
	color: #fff;
	padding-bottom: 8px;}

#active {
	background:#568B3B url("../img/hover.gif") bottom center no-repeat;
	color: #fff;
	padding-bottom: 8px;}

.container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
    width: 1170px;
  }

.btn {
font-size: 12px;
}

.btn-apollogruen {  
 background-image: -webkit-linear-gradient(top, #568B3B, #99CC33);
background-image: -o-linear-gradient(top, #568B3B, #99CC33);
background-image: linear-gradient(top, #568B3B, #99CC33);
}

.btn-apollogruen,
.btn-apollogruen:hover {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  color: #ffffff;
}


.btn-apollogruen.active {
  color: rgba(255, 255, 255, 0.75);
}

 .btn-apollogruen {
  background-color: #568B3B;
  background-image: -moz-linear-gradient(top, #99CC33, #568B3B);
  background-image: -ms-linear-gradient(top, #99CC33, #568B3B);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#99CC33), to(#568B3B));
  background-image: -webkit-linear-gradient(top, #99CC33, #568B3B);
  background-image: -o-linear-gradient(top, #99CC33, #568B3B);
  background-image: linear-gradient(top, #99CC33, #568B3B);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99CC33', endColorstr='#568B3B', GradientType=0);
  border-color: #568B3B #568B3B #99CC33;
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.btn-apollogruen:hover,
.btn-apollogruen:active,
.btn-apollogruen.active,
.btn-apollogruen.disabled,
.btn-apollogruen[disabled] {
  background-color: #568B3B;
}
.btn-apollogruen:active,
.btn-apollogruen.active {
  background-color: #99CC33 \9;
}
.btn-warning {
color: black;
}

.temp /*für vorübergehende Hinweise und Erklärungen auf der Seite*/{
color: #AA000B;
font-style: italic;
margin-top:10px;
margin-bottom:10px;
}

.nurtext /*für Datenübersicht, die mit Formularelementen gebaut ist, aber kein Formular ist*/{
padding-top:5px;
}

/*In horizontalem Formular linke Seite für Beschriftung breiter machen:*/

.form-horizontal .control-label {
  width: 410px; /*statt 140*/
}
.form-horizontal .controls {
  margin-left: 430px; /*statt 160*/
}
.form-horizontal .form-actions {
  padding-left: 430px; /*statt 160*/
}

/*button*/

.btn {
    padding-left:10px;
    padding-right:10px;
    }
    
a.btn {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*Hintergrund für Submit-Button entfernen:*/

.form-actions {
  background-color: inherit;
  border-top: none;
}

/*Abstand zwischen Buttons, die nicht in eine Zeile passen*/
.form-actions button {
margin-bottom: 10px;
}

/*Fußlinie für legend entfernen:*/
legend {
  border-bottom: none;
}
/*Über Eingabefeldern ausgerichtete Legende*/ 
legend.rechts {
  padding-left: 320px;
}

/*Farbschatten von Eingabefeld im Fokus:*/
/*hellgrün:*/
input[type="text"]:focus,
textarea:focus,
select:focus {
  border-color: rgba(153, 204, 51, 0.8);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(153, 204, 51, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(153, 204, 51, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(153, 204, 51, 0.6);
}

/*dunkelgrün:
input:focus,
textarea:focus {
  border-color: rgba(86, 139, 59, 0.8);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(86, 139, 59, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(86, 139, 59, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(86, 139, 59, 0.6);
}
*/

/*Schriftdunkelgrün als Schriftfarbe für die gewählten Elemente:*/

legend,
label,
.btn-standard {
color: #253D19;
}

/*Dunkelgrün als Schriftfarbe für die gewählten Elemente:*/

a {
  color: #568B3B;
}
a:hover {
  color: inherit;
}


/*Tabelle für zweisprachigen Text links/rechts:*/

table.textlinksrechts {
margin-bottom: 20px;
}

table.textlinksrechts td.links {
border-right:  1px solid;
}

table.textlinksrechts td.links,
table.textlinksrechts td.links {
width: 410px;
vertical-align: top;
}

table.textlinksrechts td.rechts {
padding-left: 10px;
}

table.textlinksrechts td.stichpunkt {
padding-left: 0px;
}

table.textlinksrechts td.links {
padding-right: 10px;
}

table.textlinksrechts p {
margin-bottom: 0px;
text-align: justify;
}

table.textlinksrechts p,
table.textlinksrechts div,
table.textlinksrechts legend {
margin-bottom: 0px;
}

table.textlinksrechts p.ueberschrift {
font-size: 20px;
}

table.textlinksrechts td.links p.ueberschrift {
text-align: right;
}

table.textlinksrechts h2 {
margin-bottom: 10px;
}

table.textlinksrechts h3 {
margin-top: 15px;
margin-bottom: 5px;
}

table.textlinksrechts td.links h2,
table.textlinksrechts td.links h3,
table.textlinksrechts td.links h4 {
text-align: right;
}

table.textlinksrechts th,
table.textlinksrechts td {
vertical-align: top;
}

table.textlinksrechts ol {
list-style-type: disc;
}

table.textlinksrechts li {
list-style-type: disc;
margin-bottom: 10px;
text-align: justify;
}

/*Anpassung der Länge und Position des senkrechten Mittelstrichs*/

table.textlinksrechts tr.erstezeile h2,
table.textlinksrechts tr.erstezeile h3,
table.textlinksrechts tr.erstezeile h4 {
margin-top: 0px;
}

table.textlinksrechts tr.erstezeile h2 {
line-height: 25px;
}

table.textlinksrechts tr.erstezeile h3 {
line-height: 20px;
}

table.textlinksrechts tr.erstezeile h4 {
line-height: 14px;
}

tr.alleinestehend h2 {
margin-bottom: -2px;
}

tr.alleinestehend h3 {
margin-bottom: 0px;
}

tr.alleinestehend h4 {
margin-bottom: -1px;
}

/*Tabelle für Button mit Erklärung*/

table.button_mit_erklaerung td.links {
width: 410px;
text-align: right;
padding-right: 10px;
}

table.button_mit_erklaerung td.rechts {
padding-left: 10px;
}

table.button_mit_erklaerung p {
vertical-align: middle;
}

table.button_mit_erklaerung button,
table.button_mit_erklaerung .btn,
table.button_mit_erklaerung .btn-group {
padding-left: 0px;
padding-right: 0px;
margin-left: 50px;
}

.button_rechts_mit_erklaerung {
margin-left: 0px;
vertical-align:middle;
}

table.button_mit_erklaerung div.btn-group {
float: right;
}

table.button_mit_erklaerung td {
padding-top: 5px;
padding-bottom: 5px;
}

/*Dropdown-Button Korrektur Textausrichtung*/

ul.dropdown-menu li {
text-align:left;
}

/*Nav-pills*/

.nav-pills > li > a {
padding: 4px;    
text-align: center;
margin-top: -15px;
}



.nav-pills > .active > a,
.nav-pills > .active > a:hover {
  color: #ffffff;
  background-color: #568B3B;
}

.nav > li > a:hover {
  text-decoration: none;
  background-color: #99CC33;
}

/*Nav-Tabs*/

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
  color: #555555;
  background-color: #CFE69E;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  cursor: default;
}

.nav-tabs > li > a {
padding: 5px;
text-align: center;
}

ul.nav-tabs {
margin-bottom: 0px;
border-bottom-color: #99CC33;
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
border-color: #99CC33;
border-bottom-color: transparent;
}

.nav-tabs > a:hover {
border-bottom-color: #99CC33;
}


/*Formular*/

input.formular, span.formular {
width: 290px;
}

.zweisprachig {
margin-bottom: 5px;
}

input[type="checkbox"].mehrzeilig,
input[type="text"].mehrzeilig{ float: left;}

div.mehrzeilig span.help-inline {
 margin-left: 308px;
 margin-top: 15px;   
}

label.mehrzeilig {
padding-left: 18px;
padding-top: 2px;
}

.form-actions {
margin-top: 10px;
margin-bottom: 10px;
padding-top: 0px;
padding-bottom: 0px;
    }

/*Hilfe Formular*/

.help-block, .help-inline {
color: #253D19;
font-size: 10px;
}

.form-horizontal .help-block {
margin-top: 0px;   
}
    

span.alphabet {
font-size: 10px;
    }

/*Felder für den Fall von Mehrzeiligkeit (links) nach unten ausrichten:*/

div.mehrzeilig {
position: relative;
}

div.mehrzeilig select {
width:290px;
position:absolute;
bottom:8px;
}

div.mehrzeilig input {
width:290px;
position:absolute;
bottom:8px;
}

/*Text statt Formularfeld*/

div.controls .nurtext {
    margin-top:0px;
    }

/*
.form-horizontal .control-label {
margin-top: 0px;
padding-top: 0px;
}
*/

/*Verwaltung*/

table.tabelle-kandidaten {
font-family:"trebuchet ms",arial,sans-serif;
font-size: 1,5em;
}

table.tabelle-kandidaten td {
vertical-align:top;
}

table.tabelle-kandidaten {
border: 2px solid #7CB036;
}   
   
table.tabelle-kandidaten td, table.tabelle-kandidaten th {
border: none;
padding: 4px;
} 

table.tabelle-kandidaten th {
font-size: 115%;
vertical-align: middle;
} 

table.tabelle-kandidaten td.checkbox {
text-align: center;
padding-top: 6px;
/*vertical-align: middle;*/
}

table.tabelle-kandidaten td.checkbox input {
margin-left: 5px;
}

table.tabelle-kandidaten a {
color: inherit;
}

table.tabelle-kandidaten a span:hover {
text-decoration: underline;
}

table.tabelle-kandidaten a span {
padding-left: 18px;
font-size: 80%;
font-style: normal;
vertical-align: middle;
}

table.tabelle-kandidaten span.klein {
font-size: 85%;
}

table.tabelle-kandidaten p {
margin: 0px;
}

.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
  background-color: #F0ECCD;
}

/*Breite Textfeld*/

.input-xlarge {
  width: 290px;
}

/*Ausfüllhinweis*/

.ausfuellhinweis {
margin-left:430px;
margin-top: 3px;
margin-bottom: -15px;
}

/*waagerechte Trennlinie*/

div.trennlinie {
width: 360px;
color:#253D19;
background-color:#253D19;
text-align:center;
height: 1px;
margin-left:240px;
margin-bottom: 10px;
margin-top: -5px;
}

/*Toggle-Schaltfläche*/

a.toggle {
padding-bottom: -5px;
}

div.toggle {
text-align:center;
margin-top: -10px;
margin-bottom: -5px;
}


/*Visual Studio*/

#logindisplay {
    font-size: 1.1em;
    display: block;
    text-align: right;
    margin: 10px;
    margin-top: 0px;
    padding-top: 10px;
    color: White;
}

#logindisplay a:link {
    color: white;
    text-decoration: underline;
}

#logindisplay a:visited {
    color: white;
    text-decoration: underline;
}

#logindisplay a:hover {
    color: white;
    text-decoration: none;
}

/*allgemein*/

span.warnung {
    color: #B71C00;
}

span.aktion 
{
    color: #568B3B;
}

/*error*/
input.input-validation-error {
    background-color: #F2DEDE;
    border-color: red;
}

.errorAnotation {
    color: red;
}

/*Korrektur Speicherort Glyphicons*/

[class^="icon-"],
[class*=" icon-"] {
  background-image: url("themes/base/images/glyphicons-halflings.png");
}

.icon-white,
.nav > .active > a > [class^="icon-"],
.nav > .active > a > [class*=" icon-"],
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-menu > .active > a > [class*=" icon-"] {
  background-image: url("themes/base/images/glyphicons-halflings-white.png");
}

/*Dashboard*/

span.ohne_feld {
padding-top: 4px;
padding-bottom: 4px;
}



div.impressum a {
    font-weight: bold;
    color: #99CC33;
    text-decoration: none;
    font-size:120%;
    margin-top:-30px;
}
  
.nav1 li a {
	float:none;
}

#ueberschrift_online-bewerbung {
color:#99CC33;
}

#ueberschrift_online-bewerbung:hover {
    color:#FFCC00;
}

input, button, select, textarea, a.btn {
    font-family: Verdana, Arial, Sans-Serif;
}

span.fake {
 font-size: 12px;   
}

/*Internet-Explorer*/

div.controls {
width: 400px;
}

div.form-actions {
    width:400px;
    }
    
input.checkbox {
    padding-left: 0px;
    }
    
/*Admin*/
.admin {
color: #B71C00;
}

.admin div, .admin legend,.admin label,.admin h3 {
color: #B71C00;
}