@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="textlinksrechts"> 
					<tr>
					<td class="links">
					<h2>Das Russlandprogramm</h2>
					</td>
					<td class="rechts">
					<h2><i>Übersetzung</i></h2>
					</td>
					</tr>
					<tr>
					<td class="links">
					<p>
						Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
					</p>
					<p>
						<a href="#">Ausführlichere Informationen</a>
					</p>
					</td>
					<td class="rechts">
					<p>
						<i>Übersetzung</i>, Них колёса многие удивительно во, дни ошибок возникновения проектировщик то. Кто почты полазить вы. Эти ты царь покупать полностью, раздутых предлагаю несколько тем мы, коде йорке маленький мы все. Где ходите случае различных то. Случае знания проходят их бог. Вас джоель руководители впечатляющих на, бы все важно погодите количества. Тд бы остальным собственный проектировщик. Те ещё интервью работаешь, пирог выпуска забывают об нет. Шеф налево разработчик во, ну свою огонь работал шеф. Программы несколько сосредоточенности ты вот, об тест нейманом связанном оно, оно требования творческую он.
					</p>
					</td>
					</tr>
					<tr>
					<td class="links">
					<h3>Informationen zum Auswahlverfahren</h3>
					</td>
					<td class="rechts">
					<h3><i>Übersetzung</i></h3>
					</td>
					</tr>
					<tr>
					<td class="links">
					<h3>Teilnahmevoraussetzungen</h3>
					</td>
					<td class="rechts">
					<h3><i>Übersetzung</i></h3>
					</td>
					</tr>
					<tr>
					<td class="links">
					<ol>
					<li>Sie studieren an einer unserer <a href="#">Partneruniversitäten</a> in der Russischen Föderation in einem landwirtschaftlichen Studiengang</li>
					<li>Zum Zeitpunkt des geplanten Aufenthalts in Deutschland befinden Sie sich im 3. oder 4. Studienjahr [verkürzter Studiengang, Aspiranten, Masterstudiengänge]</li>
					<li>Sie haben bisher an keinem ... teilgenommen</li>
					<li>Sie sind bereit,...[arbeiten, auch außerhalb des eigenen Studienfachs]</li>
					<li>Sie sind gesund und leiden unter keinen chronischen Erkrankungen</li>
					<li>Sie verfügen spätestens bis zur Endauswahl über einen gültigen Auslandsreisepass</li>
					<li>Sie verfügen spätestens bis zur Endauswahl über grundlegende Kenntnisse der deutschen Sprache.</li>
					<li>Sie nehmen regelmäßig an den von uns angebotenen Maßnahmen zur Verbesserung Ihrer Deutschkenntnisse teil</li>
					</ol>
					</td>
					<td class="rechts">
					<ol>
						<li><i>Übersetzung</i></li>
					</ol>
					</td>
					</tr>
					<tr>
					<td class="links">
					<h3>Hinweise</h3>
					</td>
					<td class="rechts">
					<h3><i>Übersetzung</i></h3>
					</td>
					</tr>
					<tr>
					<td class="links">
					<ol>
						<li>Ein PKW- und/oder Traktorführerschein erhöht Ihre Chancen beim Auswahlverfahren und ermöglicht Ihnen ein breiteres Einsatzfeld während des Praktikums in Deutschland, ist aber <i>keine</i> zwingende Voraussetzung für die Teilnahme.</li>
						<li>Die Teilnahme an unserem Programm ist grundsätzlich <i>kostenlos</i>. Sie müssen lediglich die Kosten zur Beschaffung der notwendigen Dokumente sowie für die Anreise von Ihrem Studienort nach Moskau und zurück tragen [evtl. noch Sprachkurs]. Niemand ist berechtigt, von Ihnen eine Gebühr für die Zulassung zum Auswahlverfahren oder für die Teilnahme am Programm zu erheben. Sollten Sie zu einer solchen Zahlung aufgefordert werden, <a>benachrichtigen</a> Sie uns bitte umgehend.</li>
						<li>Das Praktikum soll Ihnen allgemeine Kenntnisse und praktische Erfahrungen im Bereich der Landwirtschaft in Deutschland vermitteln. Wir können Ihnen <i>nicht</i> garantieren, dass Sie entsprechend Ihrer Spezialisierung eingesetzt werden. Dies gilt insbesondere für Studiengänge wie Veterinärmedizin, landwirtschaftliche Betriebswirtschaft, Elektrifizierung der Landwirtschaft und Verarbeitung landwirtschaftlicher Produkte.</li>
					</ol>
					</td>
					<td class="rechts">
					<ol>
						<li><i>Übersetzung</i></li>
					</ol>
					</td>
					</tr>
				</table>
				<table class="button_mit_erklaerung">
					<tr>
					<td class="links">
						<p>
						<a class="btn btn-large btn-apollogruen" href="programmwahl.html" style="width:170px">Weiter | <i>Übersetzung </i><i class="icon-chevron-right icon-white"></i></a>
						</p>
					</td>
					<td class="rechts">
						<p><b>Zu...<br><i>Übersetzung</i></b></p>
					</td>
					</tr>
					<tr>
					<td class="links">
						<p>
						<a class="btn btn-large" href="#" style="width:170px"><i class="icon-chevron-left"></i> Zurück | <i>Übersetzung</i></a>
						</p>
					</td>
					<td class="rechts">
						<p><b>Zu...<br><i>Übersetzung</i></b></p>
					</td>
					</tr>
				</table>
