@{
    ViewBag.Title = "Informationen_Praktikum";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="textlinksrechts"> 
	<tr class="erstezeile alleinestehend">
	    <td class="links">
	        <p>An dieser Stelle finden Sie bald Informationen zum Ablauf des Praktikums.</p>
	    </td>
	    <td class="rechts">
	        <p>
		        Übersetzung
	        </p>
	    </td>
	</tr>
</table>

