@{
    ViewBag.Title = "Informationen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="textlinksrechts"> 
	<tr class="erstezeile alleinestehend">
	    <td class="links">
	        <h2>Informationen zum Auswahlverfahren des Russlandprogramms</h2>
	    </td>
	    <td class="rechts">
	        <h2><i>Übersetzung</i></h2>
	    </td>
	</tr>
</table>
<table class="textlinksrechts"> 
    <tr>
	    <td class="links">
	       <p>
           Auf dieser Seite finden Sie wichtige Informationen zum Bewerbungsverfahren für das Grundpraktikum der APOLLO e.V. Bitte lesen Sie sorgfältig alle Informationen, bevor Sie mit der Anmeldung fortfahren.</br>
           <b>Hier finden Sie <a href="#">allgemeine Informationen</a> zum Ablauf des Programms [Broschüre/Kurzinfo].</b>        
           </p>
	    </td>
	    <td class="rechts">
	       <i>Übersetzung</i>
	    </td>
	</tr>
    <tr>
	    <td class="links">
	        <h3>Ablauf des Auswahlverfahrens</h3>
	    </td>
	    <td class="rechts">
	        <h3><i>Übersetzung</i></h3>
	    </td>
	</tr>
    <tr>
	    <td class="links">
	        <ol>
	            <li>...</li>
	        </ol>
	    </td>
        <td class="rechts">
	        <ol>
	            <li><i>Übersetzung</i></li>
	        </ol>
	    </td>
	</tr>
	<tr>
	    <td class="links">
	        <h3>Teilnahmevoraussetzungen</h3>
	    </td>
	    <td class="rechts">
	        <h3><i>Übersetzung</i></h3>
	    </td>
	</tr>
	<tr>
	    <td class="links">
	        <ol>
	            <li>Sie studieren an einer unserer <a href="#">Partneruniversitäten</a> in der Russischen Föderation in einem landwirtschaftlichen Studiengang.</li>
	            <li>Zum Zeitpunkt des geplanten Aufenthalts in Deutschland befinden Sie sich im 3. oder 4. Studienjahr Ihres Erststudiums, im zweiten Jahr eines verkürzten Studiengangs (z.B. nach Technikum) oder in einem aufbauenden Studiengang (z.B. Masterstudiengang, Aspirantur). In jedem Fall müssen Sie während der gesamten Dauer des Praktikums an einer Hochschule immatrikuliert sein.</li>
	            <li>Sie sind bereit, im Rahmen des Praktikums 40 Stunden pro Woche körperlich zu arbeiten und dabei gegebenenfalls auch solche Aufgaben auszuführen, die zum Bereich der Landwirtschaft gehören, aber keinen direkten Bezug zu Ihrem Studienfach haben.</li>
	            <li>Sie sind gesund und leiden unter keinen chronischen Erkrankungen.</li>
	            <li>Sie verfügen spätestens bis zur Endauswahl (Februar des Praktikumsjahres) über einen gültigen Auslandsreisepass.</li>
	            <li>Sie verfügen spätestens bis zur Endauswahl über grundlegende Kenntnisse der deutschen Sprache.</li>
	            <li>Sie nehmen regelmäßig an den von uns angebotenen Maßnahmen zur Verbesserung Ihrer Deutschkenntnisse teil</li>
	        </ol>
	    </td>
	    <td class="rechts">
	        <ol>
		        <li><i>Übersetzung</i></li>
	        </ol>
	    </td>
	</tr>
	<tr>
	    <td class="links">
	    <h3>Wichtige Hinweise</h3>
	    </td>
	    <td class="rechts">
	    <h3><i>Übersetzung</i></h3>
	    </td>
	</tr>
	<tr>
	    <td class="links">
	    <ol>
		    <li>Ein PKW- und/oder Traktorführerschein erhöht Ihre Chancen beim Auswahlverfahren und ermöglicht Ihnen ein breiteres Einsatzfeld während des Praktikums in Deutschland, ist aber <i>keine</i> zwingende Voraussetzung für die Teilnahme. Um das Praktikum sinnvoll nutzen zu können, ist jedoch besonders Studenten mit dem Studienfach Mechanisierung der Erwerb eines PKW- sowie eines Traktorführerscheins rechtzeitig zur Endauswahl im Februar dringend zu raten.</li>
		    <li>Die Teilnahme an unserem Programm ist grundsätzlich <i>kostenlos</i>. Sie müssen lediglich die Kosten zur Beschaffung der notwendigen Dokumente, für die Anreise von Ihrem Studienort nach Moskau und zurück tragen sowie evtl. einen geringen Beitrag für den von einer Lehrkraft Ihrer Universität im Auftrag von Apollo angebotenen Deutschkurs entrichten. Niemand ist berechtigt, von Ihnen eine Gebühr für die Zulassung zum Auswahlverfahren oder für die Teilnahme am Programm zu erheben. Sollten Sie zu einer solchen Zahlung aufgefordert werden, <a>benachrichtigen</a> Sie uns bitte umgehend.</li>
		    <li>Das Praktikum soll Ihnen <i>allgemeine</i> Kenntnisse und praktische Erfahrungen im Bereich der Landwirtschaft in Deutschland vermitteln. Wir können Ihnen dabei leider <i>nicht</i> garantieren, dass Sie entsprechend Ihrer Spezialisierung eingesetzt werden. Dies gilt insbesondere für Studiengänge wie Veterinärmedizin, landwirtschaftliche Betriebswirtschaft, Elektrifizierung der Landwirtschaft und Verarbeitung landwirtschaftlicher Produkte.</li>
            <li>Falls Sie sich gleichzeitig für ein Praktikum bei einer anderen Organisation bewerben, geben Sie dies bitte spätestens beim persönlichen Auswahlgespräch an. Sie müssen außerdem rechtzeitig - d.h. vor Abgabe Ihrer persönlichen Dokumente zur Beschaffung von Visum und Arbeitserlaubnis - entweder uns oder der anderen Organisation absagen.</li>
    	    <li>Sollten Sie bereits ein landwirtschaftliches Praktikum in Deutschland absolviert haben, muss individuell geklärt werden, ob Sie zu einer Teilnahme an unserem Programm berechtigt sind. Bitte weisen Sie uns unbedingt bei der elektronischen Dateneingabe sowie im persönlichen Auswahlgespräch darauf hin.</li>

	    </ol>
	    </td>
	    <td class="rechts">
	    <ol>
		    <li><i>Übersetzung</i></li>
	    </ol>
	    </td>
	</tr>
</table>
<table class="button_mit_erklaerung">
	<tr>
	    <td class="links">
		    <p>
		    <a class="btn btn-large btn-apollogruen" href='@Url.Action("Index", "Home")' style="width:170px"><i class="icon-chevron-left icon-white"></i> Zurück | <i>Übersetzung</i></a>
		    </p>
	    </td>
	    <td class="rechts">
		    <p>Zur Startseite der Online-Bewerbung<br><i>Übersetzung</i></p>
	    </td>
	</tr>
    <tr>
	    <td class="links">
		    <p>
		    <a class="btn btn-large btn-apollogruen" href='@Url.Action("Dashboard", "Account")' style="width:170px"><i class="icon-chevron-left icon-white"></i> Zurück | <i>Übersetzung</i></a>
		    </p>
	    </td>
	    <td class="rechts">
		    <p>Zum persönlichen Bereich<br><i>Übersetzung</i></p>
	    </td>
	</tr>
    <tr>
	    <td class="links">
		    <p>
		    <a class="btn btn-large btn-apollogruen" href='@Url.Action("Registrierung", "Account")' style="width:170px"><i class="icon-chevron-left icon-white"></i> Zurück | <i>Übersetzung</i></a>
		    </p>
	    </td>
	    <td class="rechts">
		    <p>Zur Registrierung<br><i>Übersetzung</i></p>
	    </td>
	</tr>
    <span class="temp">Hier jeweils nur den passenden Button einblenden</span>
</table>

