@using ApolloDb
@model RegistrierungModel
@{
    ViewBag.Title = "Navigation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="navbar">
  <div class="navbar-inner">
    <ul class="nav">
      <li class="active"><a href="#">Allgemeine Informationen<br />Übersetzung</a></li>
      <li><a href="#">Mein Benutzerkonto<br />Übersetzung</a></li>
      <li><a href="#">Anmeldung<br />Übersetzung</a></li>
    </ul>
  </div>
</div>

<ul class="nav nav-pills">
  <li class="active">
    <a href="#">Allgemeine Informationen<br />Übersetzung</a>
  </li>
  <li><a href="#">Mein Benutzerkonto<br />Übersetzung</a></li>
  <li><a href="#">Anmeldung<br />Übersetzung</a></li>
   <li><a href="#">Apollo-Homepage<br />Übersetzung</a></li>
</ul>

<table class="button_mit_erklaerung">
	<tr>
	    <td class="links">
		    <p>
		    <a class="btn btn-large btn-apollogruen" href="programmwahl.html" style="width:170px">Weiter | <i>Übersetzung </i><i class="icon-chevron-right icon-white"></i></a>
		    </p>
	    </td>
	    <td class="rechts">
		    <p><b>Zu...<br><i>Übersetzung</i></b></p>
	    </td>
	</tr>
	<tr>
	    <td class="links">
		    <p>
		    <a class="btn btn-large" href="#" style="width:170px"><i class="icon-chevron-left"></i> Zurück | <i>Übersetzung</i></a>
		    </p>
	    </td>
	    <td class="rechts">
		    <p><b>Zu...<br><i>Übersetzung</i></b></p>
	    </td>
	</tr>
</table>